:root {
    --dark-blue: #06223a;
    --theme-color: #0788ff;
    --light-blue: #043159;
}

.Projectcard{
    height: 350px;
    width: 350px;
    background-color: aliceblue;
       border-radius: 10px;
    /* display: grid;
    grid-template-columns: auto auto auto; */
    margin: 10px;
    padding: 5px;
    color: black;
}

.Projectcard-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.Projectcard .Projectcard-img img{
    height: 200px;
    width: 350px;
    border-radius: 10px;
}
.Projectcard-title{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.Projectcard-para{
    margin: 10px;
    color: rgba(48, 47, 47, 0.693);
}

.Projectcard-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Projectcard-buttons button{
    height: 50px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.projectcard-livebtn{
background-color: var(--theme-color);
color: aliceblue;
letter-spacing: 1.5px;
}

.projectcard-livebtn:hover{
    background-color: var(--light-blue);
    transition: 0.5s;
}

.projectcard-viewbtn{
    color: black;
    letter-spacing: 1.5px;
}

.projectcard-viewbtn:hover{
    background-color: rgb(152, 154, 156);
    transition: 0.5s;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 800px) {
    
    .Projectcard{
        height: 300px;
        width: 300px;
        padding: 5px;
    }

    .Projectcard .Projectcard-img img{
        height: 150px;
        width: 300px;
        border-radius: 10px;
    }
}