:root {
    --dark-blue: #06223a;
    --theme-color: #0788ff;
    --light-blue: #043159;
}

.contactPage{
    background:linear-gradient(to right,var(--dark-blue),rgba(0, 0, 0, 0.963));
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    height: 120vh;
}

.contactPage-container{
 /* background-color: var(--light-blue); */
 /* height: 70vh; */
 /* width: 90vw; */

 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

.contactPage-left{
    /* background-color: aqua; */
    height: 60vh;
    width: 600px;
    margin: 10px;
}

.contactPage-left-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPage-left-heading{
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 150px;
    font-size: 17px;
    letter-spacing: 2px;
    margin: 10px;
    padding: 2px;
}

.contactPage-left-para{
font-size: 20px;
/* letter-spacing: 2px; */
margin: 10px;
font-weight: 500;
letter-spacing: 1px;
margin-top: 20px;
margin-bottom: 20px;
}

.map{
    padding: 2px;
    
}
.contactPage-right{
    background-color: var(--light-blue);
    height: 50vh; 
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 5px;
   
}

.contactPage-form-list{

}

.contactPage-right-form li{
     list-style: none;
     display: flex;
     flex-direction: column;
     margin: 8px;
}
.contactPage-right-form label{
    font-size: 20px;
    letter-spacing: 2px;
}
.contactPage-right-form input{
    height: 30px;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: var(--dark-blue);
    border: none;
    margin-top: 5px;
    color: aliceblue;
}

.contactPage-right-form textarea{
    border-radius: 5px;
    padding: 2px 5px;
    background-color: var(--dark-blue);
    border: none;
    margin-top: 5px;
    color: aliceblue;
    padding: 2px 5px;
}
.form-name-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactPage-right-form button{
    margin-left: 6px;
    height: 40px;
    width: 90px;
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: var(--theme-color);
    color: aliceblue;
    font-size: 600;
    border: none;
    border: 2px solid var(--theme-color);
    cursor: pointer;
}

.contactPage-right-form button:hover{
    background-color: var(--light-blue);
    border: 2px solid aliceblue;
    transition: 0.3s;

}

/* RESPONSIVENESS */

@media only screen and (max-width: 800px)
{
    .contactPage-container{
        /* background-color: var(--light-blue); */
        
        display: flex;
        flex-direction: column;
    }

    .contactPage-left{
        /* background-color: aqua; */
        width: 350px;
    }

    .map iframe{
        height: 250px;
        width: 250px;
    }

    .contactPage-right-form{
        padding: 10px;
    }

    .contactPage-right{
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        border-radius: 5px;
    }

    .contactPage-right-form .contactPage-form-list input{
        height: 30px;
        width: 300px;
    }

    .contactPage-form-list .form-name-section li input{
        width: 150px;
    }

    .contactPage-right-form .contactPage-form-list textarea{
        width: 300px;
    }
}